header {
	display: flex;
	align-items: center;
	/* border: 2px dashed red; */
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

header div {
	left: 20px;
	background-image: url('../images/logo.png');
	/* border: 2px dashed red; */
	width: 142px;
	height: 60px;
}
