.filters {
	display: flex;
	align-items: center;
	align-content: space-around;
	flex-direction: row-reverse;
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border-radius: 4px;
	margin-right: 30px;
	border: none;
}

.filters button:hover {
	opacity: 90%;
}

.filters div {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 25%;
	/* border: 2px dashed red; */
}

.filters div:nth-child(1) {
	order: 2;
	margin-right: 270px;
	padding-left: 0px;
}

.filters div:nth-child(2) {
	order: 3;
	border-right: 1px solid #DDDDDD;
	padding-left: 0px;

}

/* div h3, div h4{
	margin-left: 50px;
} */

h3 {
	font-weight: 600;
	margin-bottom: 0;
	margin-left: 50px;
}

h4 {
	font-weight: 400;
	font-size: 14px;
	margin-top: 0;
	margin-left: 50px;
}

ul li {
	list-style: none;
}

.amenities ul {
	margin-top: 0;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 50px;
	background-color: #FAFAFA;
	width: 79%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

.locations > ul {
	background-color: #FAFAFA;
	width: 88%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	margin-top: 0;
	margin-right: 30px;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 30px;
}

h2 {
	margin-bottom: 0;
	font-size: 16px;
	/* border: 2px dashed green; */
}

ul li ul{
	padding-left: 25px;
}

.popover {
	visibility: hidden;
	display: none;
}

.amenities:hover .popover {
	visibility: visible;
	display: block;
}

.locations:hover .popover {
	visibility: visible;
	display: block;
}
