.places h1 {
	font-size: 30px;
	margin-top: 40px;
	margin-left: 10px;
}

.places h2 {
	font-size: 30px;
	margin-top: 7px;
	/* margin-right: 0px; */
	width: 160px;
}

.places article {
	width: 390px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	/* display: flex;
	justify-content: center;
	align-items: center; */
}

.articles {
	display: flex;
}

.places > article {
	margin: auto;
}

.information {
	display: flex;
	justify-content:space-around ;
	align-items: center;
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

.price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 100%;
	/* padding: 10px; */
	height: 60px;
	width: 85px;
	text-align: center;
	padding-top: 25px;
	min-width: 60px;
	font-size: 30px;
	position: relative;
	left: 300px;
}

.max_guest {
	background-image: url('../images/icon_group.png');
	border: 2px dashed red;
	width: 100px;
	height: 50px;
}

.number_rooms {
	background-image: url('../images/icon_bed.png');
	border: 2px dashed red;
	width: 100px;
	height: 50px;
}

.number_bathrooms {
	background-image: url('../images/icon_bath.png');
	border: 2px dashed red;
	width: 100px;
	height: 50px;
}
